/*
    CSS Syntax:
    element
    #id
    .class
    http://www.w3schools.com/cssref/css_selectors.asp
    */

html, body {
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic
}

.end-float {
    clear: both;
}

.float-container:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.float-container>* {
    float:left;
}

.app-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.headerStripe {
    background-color: orange;
    height: 5px;
}

.header {    
    /*border: 1px solid gray;*/    
    height: 50px;
}

.logo-box {
    background-color: gray;
    width: 20%;
    height: inherit;
    /*float: left;*/
}

.logo {
    text-align: center;
    padding-top: 12px;
}

.logo span {
    font-style:normal;
    font-weight: bold;
    font-family: Arial;
    font-size: large;
    vertical-align: top;
}

.logo span:nth-child(2) {
    color:white;
}

.logo span:last-child {
    color: orange;
}

.logo img {
    margin-right: 5px;
}

.file-input-box {
    width: 70%;    
    height: inherit;
    /*float: left;*/
    background-color: lightgray;
}

#fileUploadForm {
    margin: 0;
    padding-top: 12px;
    padding-left: 12px;
}

#uploadPercent {
    padding-top: 12px;
    padding-left: 12px;
}

.options-box {
    width: 10%;
    height: inherit;
    background-color: gray;
    /*float: left;*/    
}

.options {
    padding-top: 12px;
    text-align: center;
}

.options-box span {
    color: white;
    font-weight: bold;
    font-family: Arial;
    font-style: normal;    
}

#visualization {
    max-width: 1198px;
    width: 100%;    
    max-height: 674px;
    height: 100%;
    border: 2px solid darkgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}